<% for name in [:info, :warning, :error] %>
  <% if flash[name] %>
    <p class="<%= "#{name}-message message" %>" >
      <%= h flash[name] %>
      <% if request.xhr? %>
        <a href="#" onclick="Element.remove(this.parentNode); return false;"><%= as_('Close') %></a>
      <% end %>
    </p>
  <% end %>
<% end %>

<% measurement_checks.each do |check, messages| %>
  <% unless messages.nil? %>
    <% for message in [messages].flatten %>
      <p class="warning-message message <%= "#{check}-message" %>">
        <%=h message %>
      </p>
    <% end %>
  <% end %>
<% end %>