<%
on_select = %q(function(input_el, selected_li) { 
    var name = $(selected_li).select('span.name')[0].innerHTML;
    var id   = $(selected_li).select('span.id')[0].innerHTML;
    input_el.value = name;
    $('record[waterbody]').value = id;
})
%>
<div id="waterbody-editor">
  <dl>
    <dt>
      <label for="<%= "waterbody_contains" %>">Waterbody</label>
    </dt>
    <dd>
      <div id="waterbody-autocomplete">
        <%= text_field_with_auto_complete :waterbody, :contains, { :autocomplete => 'off', :value => (@record.waterbody ? @record.waterbody.name : '') },
          { :after_update_element => on_select } -%>
      </div>      
      <input id="record[waterbody]" name="record[waterbody]" type="hidden" value="<%= @record.waterbody.id if @record.waterbody -%>"/>
    </dd>
  </dl>
</div>
