###
# ETL control file for importing table <%= name %>
# Generated <%= Time.now.strftime("%B %d, %Y %H:%M") %>
###

model = Class.new(ActiveRecord::Base) do
  set_table_name '<%= name.downcase %>'
end
table = model.table_name.to_s
outfile = "<%= File.join('..', '..', 'output', "import_#{name}") %>.csv"
columns = model.columns.collect { |column| column.name.to_sym }

source :in, { 
  :type => :access,
  :mdb => "<%= File.join('..', '..', 'input', 'nb_aquatic_data_warehouse.mdb') %>", 
  :table => table
}, columns

destination :out, { 
  :file => outfile
}, { 
  :order => columns
}  

pre_process :truncate, { :target => RAILS_ENV, :table => table }

post_process :bulk_import, { 
  :file => outfile, 
  :columns => columns, 
  :field_separator => ",", 
  :target => RAILS_ENV, 
  :table => table
}
