<div id="activity-details" class="active-scaffold">
  <h3 class="name" style="border-bottom: 1px solid black;">Activity Details</h3>
  <%= render :active_scaffold => 'aquatic_activity_event', :action => 'details', :params => { 
    :aquatic_activity_event_id => params[:aquatic_activity_event_id] 
  } %>
  <div style="clear: both;"></div>
</div>
