<div class="active-scaffold-header">
  <div class="actions">
    <a href="<%= url_for :action => 'report', :format => 'csv' %>" class="action download">Download</a>
  </div>
</div>
<%= @report_html %>