<div class="active-scaffold">
  <table cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <% @columns.each do |column| %>
          <th><p><%=h column %></p></th>
        <% end %>
      </tr>
    </thead>
    <tbody class="records">
      <% @rows.each do |row| %>
        <tr class="record">
          <% row.each do |value| %>
            <td><%=h value %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>