<% help_section 'Overview' do %>
  <p>The map displays data collection sites within the user’s defined area of
    interest (see <strong>Profile</strong>). If the sites within your area of
  interest do not have coordinates, a map of the world will be displayed.</p>
<% end %>

<% help_section 'Legend' do %>
  <p>Blue sites indicate sites with data stored within the NB Aquatic Data
  Warehouse and accessible through this website.</p>

  <p>Red sites indicate known data collection sites but the associated water
    chemistry data does not reside in the NB Aquatic Data Warehouse, but may be
    available from the agency who provided the site information. Click on the site
  to view the agency and other site details.</p>
<% end %>

<% help_section 'Navigation' do %>
  <% help_section 'Pan' do %>
    <p>When cursor is placed over the map, the cursor changes to a hand symbol.
      Click and hold left mouse key, then move the mouse to move the map in the
    desired direction.</p>

    <p>Alternatively, click on the navigation arrows in the top left corner of
    the map.</p>
  <% end %>

  <% help_section 'Zoom In and Out' do %>
    <p>Click on the zoom scale bar on the left to zoom in (+) or zoom out (-).</p>
  <% end %>
<% end %>

<% help_section 'Overview Map (Inset)' do %>
  <p>The inset map in bottom right corner provides the general location of the
  larger map.</p>
<% end %>

<% help_section 'Site Information &amp; Sampling Details' do %>
  <p>Click on a site to view the site details. A popup dialog box provides the
  site&rsquo;s waterbody information and the number of sampling events associated with
  the site.</p>

  <p>Click on the x symbol to close the dialog.</p>

  <p>Click on the + symbol to view the sample details – date, agency, weather and
  water level details. Click on Open at the end of the sampling event row to view
  the sample details and results (the map window will close).</p>
<% end %>
