<% help_section 'Survol' do %>
  <p>La carte affiche les sites de collecte de données dans le domaine d'intérêt 
    défini de l'utilisateur (voir <strong>Profil</strong>). Si les sites dans votre
    domaine d'intérêt n'ont pas de coordonnées, une carte du monde sera affichée.</p>
<% end %>

<% help_section 'Légende' do %>
  <p>Les sites bleus indiquent les sites qui contiennent des données stockées dans
    l'Entrepôt de données aquatiques du N.‑B. et qui sont accessibles à partir de
    ce site Web.</p>

  <p>Les sites rouges indiquent les sites de collecte de données connus mais les
    données connexes sur la composition chimique de l'eau  ne se trouvent pas dans
    l'Entrepôt de données aquatiques du N.‑B. Toutefois, ils peuvent être disponibles
    à partir de l'organisme qui a fourni l'information sur le site. Cliquer sur le
    site pour afficher l'organisme et autres détails du site.</p>
<% end %>

<% help_section 'Navigation' do %>
  <% help_section 'Panoramique' do %>
    <p>Lorsque le curseur est placé sur la carte, il est remplacé par un symbole
      de la main. Cliquer sur la souris et appuyer sur la souris de droite, ensuite
      déplacer la souris pour déplacer la carte dans la direction souhaitée. </p>

    <p>On peut aussi cliquer sur les flèches de navigation dans le coin supérieur
      gauche de la carte.</p>
  <% end %>

  <% help_section 'Zoom avant et zoom arrière' do %>
    <p>Cliquer sur la barre du zoom à gauche pour le zoom avant (+) et le zoom arrière (-).</p>
  <% end %>
<% end %>

<% help_section 'Carte de survol (En médaillon)' do %>
  <p>Le médaillon dans le coin inférieur gauche présente l'emplacement général de
    la plus grande carte. </p>
<% end %>

<% help_section "Information de l'emplacement et détails de prélèvement" do %>
  <p>Cliquer dessus un emplacement pour regarder les détails d'emplacement. Une
    zone de dialogue automatique fournit l'information sur le cours d’eau et le
    nombre d’événements de prélèvement liés à l'emplacement. </p>

  <p>Cliquer dessus le symbole (X) pour fermer le dialogue. </p>

  <p>Cliquer dessus le symbole (+) pour regarder les détails de l’échantillon -
    détails de la date, de l’organisme des conditions métérologiques et du niveau
    d'eau. Cliquer dessus ouvert à la fin de la rangée d'événement de prélèvement
    pour regarder les détails de l’échantillion et les résultats (la fenêtre de
    la carte se fermera). </p>
<% end %>
