<div id="header" style="background-color: #99bbe8; color: #000; height: 50px; font-size: 30px; padding: 5px;">
  <h1>Data Entry Activity: Water Chemistry</h1>  
</div>  

<div id="navigation" style="height: 20px; background-color: #666; color: #fff;">  
  <a href="#" style="display: block; float: left; color: #fff">Back</a>
  <a href="#" style="display: block; float: right; color: #fff">Next</a>
</div>

<script type="text/javascript">
Ext.onReady(function() {
    var store = new TaskStore(); 
    var taskList = new TaskListPanel(store);
    var view = new TaskView(store);
    var header = new Ext.BoxComponent({ applyTo: 'header', region: 'north' });
    
    store.loadData({ 
        results: <%= @tasks.size %>,
        tasks: <%= @tasks.to_json %>
    });
    
    taskList.on('taskchange', function(task) {
        view.show(task);
    }, this);

    new Ext.Viewport({
        layout: 'border',
        items: [header, taskList, view]
    });
});

</script>