<% help_section 'Water Chemistry Samples and Results' do %>
  <p>Clicking <strong>Open</strong> on a water chemistry data collection event on
    Data Collection Sites screen transfers the user to the Water Chemistry Samples
  and Results.</p>

  <p>The right side of the page includes a summary of the activity and site
    information, plus a map of the site’s location if the coordinates are
  available.</p>

  <p>Water chemistry data consists of multiple sections or tabs: Samples,
  Observations, Measurements, and Results.</p>

  <% help_section 'Samples' do %>
    <p>Lists the samples collected during the given data collection event. Each
      row includes <strong>Parameters</strong> (to present water chemistry
      parameters analyzed), <strong>Edit</strong>, <strong>Delete</strong>, and
    <strong>Show</strong> function.</p>
  <% end %>

  <% help_section 'Observations' do %>
    <p>Lists the environmental conditions observed and recorded when the sample
    was collected</p>
  <% end %>

  <% help_section 'Measurements' do %>
    <p>Lists the site and water measurements recorded</p>
  <% end %>

  <% help_section 'Report' do %>
    <p>Presents a summary of the site and sampling event information, along with
      the results of each sample taken. The water chemistry parameters are
    presented in columns as typically found in lab reports.</p>
  <% end %>
<% end %>