<% help_section 'Survol' do %>
  <p>Si l’utilisateur clique <strong>Ouvrir</strong> sur une activité de collecte
    de données sur la composition chimique de l'eau,  l'écran des sites de collecte
    de données transfére l'utilisateur aux échantillons et aux résultats de la composition
    chimique de l'eau. </p>

  <p>Le côté droit de la page comprend de l'information sommaire sur l'activité et
    le site, ainsi qu'une carte de l'emplacement du site si les coordonnées sont
    disponibles.</p>

  <p>Les données sur la composition chimique de l'eau comprennent de multiples sections
    ou onglets : Échantillons, Observations, Mesures et Résultats. </p>

  <% help_section 'Échantillons' do %>
    <p>Énumère les échantillons prélevés pendant l'activité de collecte de données. 
      Chaque rangée comprend des <strong>Paramètres</strong> (pour présenter les
      paramètres de la composition chimique de l'eau analyses), <strong>Corriger</strong>,
      <strong>Supprimer</strong>, et <strong>Afficher</strong>.</p>
  <% end %>

  <% help_section 'Observations' do %>
    <p>Énumère les conditions environnementales observées et enregistrées lorsque
      l'échantillon a été prélevé. </p>
  <% end %>

  <% help_section 'Mesures' do %>
    <p>Énumère le site et les mesures de l'eau enregistrées.</p>
  <% end %>

  <% help_section 'Rapport' do %>
    <p>Présente un sommaire de l'information sur le site et l'activité d'échantillonnage,
      ainsi que les résultats de chaque échantillon prélevé. Les paramètres de la
      composition chimique de l'eau sont présentés en colonnes comme celles qu'on
      trouve normalement dans un rapport de laboratoire.</p>
  <% end %>
<% end %>