<dl>
  <dt>
    <label for="<%= "record_#{column.name}" %>"><%= column.label %></label>
  </dt>
  <dd>
    <%= select("record", column.name, CoordinateSource.find(:all).collect { |source| [source.name, source.id]}, { :include_blank => true}) %>
  </dd>
</dl>