<%
coordinate_systems = @record.coordinate_source ? @record.coordinate_source.coordinate_systems : []
choices = coordinate_systems.collect { |source| [source.display_name, source.id] }
select_options = { :selected => @record.coordinate_system_id }
html_options = @record.coordinate_source_id.nil? ? { :disabled => true } : {}
%>

<dl>
  <dt>
    <label for="<%= "record_#{column.name}" %>"><%= column.label %></label>
  </dt>
  <dd>
    <%= select :record, column.name, choices, select_options, html_options %>
  </dd>
</dl>    