<dl>
  <dt>
    <label for="<%= "record_#{column.name}" %>"><%= column.label %></label>
  </dt>
  <dd>
    <select name="record[<%= column.name %>]">
      <% WaterChemistrySample.collection_method_options.each do |method| %>
        <option><%=h method %></option>
      <% end %>
    </select>
  </dd>
</dl>