<dl>
  <dt>
    <label for="<%= "record_#{column.name}" %>"><%= column.label %></label>
  </dt>
  <dd>
    <%= select("record", column.name, WaterChemistrySample.sample_collection_methods) %>
  </dd>
</dl>