<dl id="<%= column.name %>" style="display: <%= (@record.measurement && @record.measurement.bank_measurement?) ? 'block' : 'none' %>">
  <dt>
    <label for="record[<%= column.name %>]"><%= column.label %></label>
  </dt>
  <dd>
    <%= select("record", column.name, ["Left", "Right"], { :selected => @record.bank }, { :id => "record[#{column.name}]" }) %>
  </dd>
</dl>