<dl id="bank_measurement" style="display: none;">
  <dt>
    <label for="record[<%= column.name %>]"><%= column.label %></label>
  </dt>
  <dd>
    <%= select("record", column.name, ["N/A", "Left", "Right"], { :include_blank => true }, { :id => column.name }) %>
  </dd>
</dl>