<% 
units = @record.measurement ? @record.measurement.units_of_measure.collect{ |unit| [unit.name_and_unit, unit.unit_of_measure_id] } : [] 
selected = @record.unit_of_measure ? @record.unit_of_measure.id.to_s : nil
%>
<dl id="<%= column.name %>" style="display: <%= @record.measurement ? 'block' : 'none' %>">
  <dt>
    <label for="record[<%= column.name %>]"><%= column.label %></label>
  </dt>
  <dd>
    <%= select("record", column.name, units, { :selected => selected }, { :id => "record[#{column.name}]" }) %>
  </dd>
</dl>