#tbl_aquatic_activity-create--form #tbl_aquatic_activity--agency-subform {
    display: none;
}
#tbl_aquatic_activity-create--form #tbl_aquatic_activity--aquatic_activity_code-subform {
    display: none;
}
#tbl_aquatic_activity-create--form #tbl_aquatic_activity--aquatic_activity_method_code-subform {
    padding: 2px 0 0 0;
}
#tbl_aquatic_activity-create--form #tbl_aquatic_activity--aquatic_activity_method_code-subform dt {
    float: left; 
    padding: 6px 0; 
    width: 12em;
}
#tbl_aquatic_activity-create--form #tbl_aquatic_activity--aquatic_activity_method_code-subform label {
    display: block;
}
#tbl_aquatic_activity-create--form #tbl_aquatic_activity--aquatic_activity_method_code-subform select {
    font-size: 16px;
    letter-spacing: -1px;
}