/* COLOR SCHEME */
.active-scaffold th,
.active-scaffold th a, 
.active-scaffold th p {
    background-color: #4f81bd;
}
.active-scaffold th.sorted,
.active-scaffold th.asc a, 
.active-scaffold th.desc a,
.active-scaffold th a:hover {
    background-color: #13345e;
}
.active-scaffold tr.record td {
    background-color: #d0d8e8;
    border-color: #ccc;
}
.active-scaffold tr.even-record td {
    background-color: #e9edf4;
}
.active-scaffold tr.record td.sorted {
    background-color: #A3C2E8;
}
.active-scaffold tr.even-record td.sorted {
    background-color:#D0E0F4;
}

.active-scaffold label {
    color: #001e20;
}
.active-scaffold .description {
    font-size: 11px;
    font-family: "Lucida Grande";
    color: #555;
}

/** Nested Table Styles **/
.active-scaffold .inline-adapter .view {
    background-color: #fff;
    padding: 4px 2.5em 1em;
    border: 1px solid #ddd;
}
.active-scaffold .inline-adapter .view.show-view,
.active-scaffold .inline-adapter .view.new-view,
.active-scaffold .inline-adapter .view.edit-view, 
.active-scaffold .inline-adapter .view.show_search-view, 
.active-scaffold .inline-adapter .view.edit_agency_site_id-view {
    background-color: #FBF9F6;
    border-color: #A3A09B;
    padding: 4px;
}
.active-scaffold input.text-input, 
.active-scaffold select {
    border-color: #385d8a;
}

/** Select Input Styles **/
.active-scaffold .sub-form .override {
    margin-left: -5px;
}
.active-scaffold .sub-form .override dt {
    float: left;
    padding: 6px 0;
    width: 12em;
}
.active-scaffold .sub-form .override label {
    display: block;
}
.active-scaffold .sub-form .override.required label {
    font-weight: bold;
}
.active-scaffold .sub-form .override dd {
    float: left;
}
.active-scaffold .sub-form .override select,
.active-scaffold .sub-form .override input.text-input {
    font-size: 16px;
    letter-spacing: -1px;
}


.active-scaffold-header h2 {
    font-size: 140%;
}

div.site-activity-usages div.active-scaffold-header {
    padding: 2px 0 3px;
}

#tbl_aquatic_activity-create--form #tbl_aquatic_activity--agency-subform {
    display: none;
}
#tbl_aquatic_activity-create--form #tbl_aquatic_activity--aquatic_activity_code-subform {
    display: none;
}
#tbl_aquatic_activity-create--form #tbl_aquatic_activity--aquatic_activity_method_code-subform {
    padding: 2px 0 0 0;
}
#tbl_aquatic_activity-create--form #tbl_aquatic_activity--aquatic_activity_method_code-subform dt {
    float: left; 
    padding: 6px 0; 
    width: 12em;
}
#tbl_aquatic_activity-create--form #tbl_aquatic_activity--aquatic_activity_method_code-subform label {
    display: block;
}
#tbl_aquatic_activity-create--form #tbl_aquatic_activity--aquatic_activity_method_code-subform select {
    font-size: 16px;
    letter-spacing: -1px;
}
.active-scaffold-header div.actions a.prepare_config_list,
.active-scaffold-header div.actions a.show_export {
    background-position: 1px 50%;
    background-repeat: no-repeat;
    padding-left: 19px;
    padding-right: 3px;
}
.active-scaffold-header div.actions a.prepare_config_list:hover,
.active-scaffold-header div.actions a.show_export:hover {
    background-color: #ff8;
}
.active-scaffold-header div.actions a.prepare_config_list {
    background-image: url(../images/active_scaffold/default/customize.png);
}
.active-scaffold-header div.actions a.show_export {
    background-image: url(../images/active_scaffold/default/export.png);
}

td.incorporated-column {
    text-align: center;
    vertical-align: middle;
}

#tbl_aquatic_site_agency_use-create--form #tbl_aquatic_site_agency_use--aquatic_activity_code-subform dt {
    float: left; 
    padding: 6px 0; 
    width: 12em;
}
#aquatic_site_agency_use-create--form #tbl_aquatic_site_agency_use--aquatic_activity_code-subform label {
    display: block;
}
#aquatic_site_agency_use-create--form #tbl_aquatic_site_agency_use--aquatic_activity_code-subform select {
    font-size: 16px;
    letter-spacing: -1px;
}

#observation--observation-subform dt {
    float: left; 
    padding: 6px 0; 
    width: 12em;
}
#observation--observation-subform label {
    display: block;
}
#observation--observation-subform select,
#observation--observation-subform input {
    font-size: 16px;
    letter-spacing: -1px;
}
#observation--observation-subform dd span {
    font-family: arial;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 5px;
    padding-left: 5px;
}

#aquatic_site-active-scaffold form .sub-section,
#site_measurement-active-scaffold form .sub-form {
    padding-left: 0;
}
#aquatic_site-active-scaffold form .sub-section dt,
#site_measurement-active-scaffold form .sub-form dt {
    float: left; 
    padding: 6px 0; 
    width: 12em;
}
#aquatic_site-active-scaffold form .sub-section label,
#site_measurement-active-scaffold form .sub-form label {
    display: block;
}
#aquatic_site-active-scaffold form .sub-section select,
#site_measurement-active-scaffold form .sub-form select {
    font-size: 16px;
    letter-spacing: -1px;
}
#aquatic_site-active-scaffold form dl {
    clear: left;
    padding-top: 2px;
}