div.site-activity-usages div.active-scaffold-header {
    padding: 2px 0 3px;
}

#tbl_aquatic_activity-create--form #tbl_aquatic_activity--agency-subform {
    display: none;
}
#tbl_aquatic_activity-create--form #tbl_aquatic_activity--aquatic_activity_code-subform {
    display: none;
}
#tbl_aquatic_activity-create--form #tbl_aquatic_activity--aquatic_activity_method_code-subform {
    padding: 2px 0 0 0;
}
#tbl_aquatic_activity-create--form #tbl_aquatic_activity--aquatic_activity_method_code-subform dt {
    float: left; 
    padding: 6px 0; 
    width: 12em;
}
#tbl_aquatic_activity-create--form #tbl_aquatic_activity--aquatic_activity_method_code-subform label {
    display: block;
}
#tbl_aquatic_activity-create--form #tbl_aquatic_activity--aquatic_activity_method_code-subform select {
    font-size: 16px;
    letter-spacing: -1px;
}
.active-scaffold-header div.actions a.prepare_config_list,
.active-scaffold-header div.actions a.show_export {
    background-position: 1px 50%;
    background-repeat: no-repeat;
    padding-left: 19px;
    padding-right: 3px;
}
.active-scaffold-header div.actions a.prepare_config_list:hover,
.active-scaffold-header div.actions a.show_export:hover {
    background-color: #ff8;
}
.active-scaffold-header div.actions a.prepare_config_list {
    background-image: url(../images/active_scaffold/default/customize.png);
}
.active-scaffold-header div.actions a.show_export {
    background-image: url(../images/active_scaffold/default/export.png);
}

td.incorporated-column {
    text-align: center;
    vertical-align: middle;
}

#tbl_aquatic_site_agency_use-create--form #tbl_aquatic_site_agency_use--aquatic_activity_code-subform dt {
    float: left; 
    padding: 6px 0; 
    width: 12em;
}
#tbl_aquatic_site_agency_use-create--form #tbl_aquatic_site_agency_use--aquatic_activity_code-subform label {
    display: block;
}
#tbl_aquatic_site_agency_use-create--form #tbl_aquatic_site_agency_use--aquatic_activity_code-subform select {
    font-size: 16px;
    letter-spacing: -1px;
}