/* 
kuler scheme: superconductor
#B3D5E1 - baby blue
#A4BFB0 - light olive green
#748C69 - olive green
#4F5939 - army green
#001E20 - dark
*/
/* 
kuler scheme: chemistry class
#77DDF5 - light blue
#13345E - dark blue
#006DFF - blue
#000A40 - navy (dark)
#FF5900 - orange
*/
body{
    padding-top: 140px;
}
div#fixed{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 140px;
    z-index: 1000;
}
@media screen{
    body>div#fixed{
        position:fixed;
    }
}
* html body{
    overflow:hidden;
} 
* html div#content{
    height:100%;
    overflow:auto;
}

body {
    min-width: 700px;
}
strong { 
    font-weight: bold; 
}
#header {
    background-color: #001E20;
    color: #fff;
    height: 65px;
}
#application .name {
    font-size: 16px;
    padding-top: 17px;
    padding-left: 10px;
    width: 255px;
    padding-bottom: 5px;
    font-family: Verdana;
    font-weight: bold;
}
#application .name a {
    font-weight: normal;
    text-decoration: none;
    color: #fff;
}
#application .name a:hover {
    color: #FFFF88;
}
#session {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 10px 20px;
    height: 30px;
    text-align: right;
    font-size: 11px;
    font-family: Verdana;
    z-index: 1001;
}
@media screen{
    body>div#session{
        position: fixed;
    }
}
#session a {
    font-weight: bold;
    color: #fff;
}
#session a:hover {
    color: #FFFF88;
}
#session .user {
    padding-right: 20px;
    background: transparent no-repeat url(../images/vcard.png);
    background-position: 100% -3px;
    text-align: right;
    
}
#session .agency {
    margin-top: 2px;
    margin-bottom: 10px;
    text-align: right;
}
#session .actions {
    margin-top: 7px;
    text-align: right;
}

#navigation {
    height: 74px;
    background-color: #D0D8E8;
    border-bottom: 1px solid #001E20;
    color: #001E20;
}
#navigation #location {
    padding: 10px 20px 5px;
    font-weight: bold;
}
#navigation #location .current {
    font-size: 24px;
}    
#navigation #location .previous {
    font-size: 11px;
    padding-left: 10px;
    font-family: verdana;
    font-weight: normal;
}
#navigation #location h3 a {
    color: #001E20;
    text-decoration: none;
}
#navigation #location h3 a:hover {
    text-decoration: underline;
}
#navigation .tabs {
    margin: 0 25px;
}
#navigation .tabs li {
    float: left;
}
#navigation .tabs li.help {
    float: right;
}
#navigation .tabs .tab {
    display: block;
    margin: 7px 5px 0;
    font-size: 16px;
    padding: 6px 10px;
    text-decoration: none;
    background-color: #376092;
    color: #fff;
}
#navigation .tabs #help.tab {
    font-size: 12px;
    margin-top: 11px;
}
#navigation .tabs #help.open {    
    background-color: #13345E;
    border-top: 1px solid #13345E;
}
#navigation .tabs a:hover {
    background-color: #13345E;
    color: #77DDF5;
}
#navigation .tabs a.active {
    background-color: #fff;
    color: #001E20;
    font-weight: bold;
    border: 1px solid #001e20;
    border-bottom: none;
}
#navigation .tabs a.active:hover {
    background-color: #fff;
    color: #001E20;
}
#navigation .tabs .browse-tab,
#navigation .tabs .explore-tab,
#navigation .tabs #help.tab {
    padding-left: 24px;
    background-position: 5px 50%;
    background-repeat: no-repeat;
}
#navigation .tabs .browse-tab {
    background-image: url(../images/table.png);
}
#navigation .tabs .explore-tab {
    background-image: url(../images/world.png);
}
#navigation .tabs #help.tab {
    background-image: url(../images/information.png);
}

#content {
    padding: 0;
    color: #001E20;
    height: 100%;
    min-height: 100%;
}
#content .inner {    
    overflow: auto;
    height: 100%;
}
#content table {
    width: 100%;
    height: 100%;
    min-height: 100%;
}
#content table td {
    vertical-align: top;
}
#content #main {
    padding: 20px 25px;
    min-height: 400px;
}
#content #help-contents {
    width: 280px;
    min-width: 280px;
    background-color: #13345E;
    color: #fff;
    padding: 20px 10px;
}

#content h1 {
    font-size: 18px;
    font-family: Verdana;
}
#content .iframe-container iframe {
    width: 100%;
    height: 100%;
}

#content #activities {
    margin: 10px 0;
}
#content #activities .activity {
    margin-bottom: 20px; 
    font-size: 12px;
}
#content #activities .activity .title {
    font-size: 16px;
    margin-bottom: 10px;
}
#content #activities .activity .description {
    margin-right: 70px;
    margin-bottom: 15px;
}
#content #activities .activity .author {
    
}
#content #activities .activity .date {
    color: grey;
    float: right;
    text-align: right;
}
#content #activities .activity .map {
    float: left;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    margin: 0 10px 10px 0;
}

div.site-item {
    padding: 5px;
}
div.site-item p {
    padding-left: 10px;
    font-size: 11px;
    font-style: italic;
    font-family: Verdana;
}
div.x-site-view-over, div.x-task-view-over {
    background-color: lightyellow;
}
div.x-view-selected {
    background-color: lightblue;
}
input.filter {
    width: 90%;
    margin: 5px;
}
iframe {
    border: none;
}
#waterbody-editor {
    clear: both;
    padding: 2px 0;
    margin: -5px;
}
#waterbody-editor label {
    display: inline;
    font-weight: bold;
}
#waterbody-editor #waterbody_search {
    padding: 2px;
    border: 1px solid #1F7F00;
    font-size: 16px;
    font-weight: bold;
    width: 400px;
}
#waterbody-editor dt {
    float: left;
    width: 12em;
    color: #555;
    font-family: verdana,sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
    clear: left;
    padding: 0px;
}
#waterbody-editor dt.lookup {
    padding: 6px 0;
}
#waterbody-editor dd {
    float: left;
    font-family: arial;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 5px;
    padding-left: 5px;
}
#waterbody-editor dd span.description {
    font-weight: normal;
}
.fieldWithErrors #waterbody-editor dd #waterbody-autocomplete input {
    border: 1px solid #f00;
}

#explore #map-container {
    float: left;
    width: 70%;
}
#explore #aquatic-sites-container {
    float: left;
    width: 30%;
}
#explore #aquatic-sites {
    padding-left: 20px;
}
#explore #aquatic-sites ul {
    margin-bottom: 10px;
}
#explore #aquatic-sites div.pagination {
    text-align: center;
}
div.aquatic-site-info-window {
    padding: 5px 0;
}
div.aquatic-site-info-window h3 {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;    
}
div.aquatic-site-info-window p {
    font-size: 11px;
    font-family: Verdana;
    font-style: italic;
    margin: 5px 0;
}
#aquatic-sites li.aquatic-site.over {
    background-color: lightblue;
}
#aquatic-sites li.aquatic-site.selected {
    background-color: yellow;
}

#content #center {
    float: left;
    width: 70%;
    overflow: auto;
}
#content #center #center-content {
    padding: 0;
}
#content #right {
    float: left;
    width: 30%;
}
#content #right #right-content {
    padding-left: 20px;
}

#aquatic-site-map {
    width: 100%;
    height: 200px;
    margin: 5px 0 10px;
    overflow: hidden;
}
#aquatic-site .name,
#activity-details .name {
    font-family: verdana;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

#activity-details .active-scaffold .view {
    background-color: #fff;
    border: none;
    padding: 0; 
}
#activity-details .active-scaffold .form-footer {
    display: none;
}

.active-scaffold .incorporated-message {
    background-color: #E6F2FF;
    border: 1px solid #B9DCFF;
    margin: 2px 0 7px;
}

.active-scaffold .incorporated-message h2 {
    background-color: #B9DCFF;
    color: #333;
    font-family: Verdana;
    font-size: 11px;
    letter-spacing: 0;
    margin: 0;
    padding: 2px 5px;
}

.active-scaffold .incorporated-message ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    margin: 0;
    padding: 0 2px 4px 25px;
}

.active-scaffold .incorporated-message ul li {
    background-color: transparent;
    font-family: verdana;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.description-column .aquatic-site-description {
    font-style: italic;
    font-family: verdana;
    font-size: 10px;
    display: block;
    margin: 5px 5px 3px; 
}

a#area-of-interest-toggle {
    background-image: url(../images/active_scaffold/default/filter.png);
    background-position: 1px 50%;
    background-repeat:no-repeat;
    padding-left:19px;
}
a#area-of-interest-toggle.inactive {
    color: #666;
    opacity: 0.5;
}
a#area-of-interest-toggle.inactive:hover {
    color: #06c;
    opacity: 1.0;
}
a#area-of-interest-toggle.active {
    color: #06c;
    opacity: 1.0;
}
a#area-of-interest-toggle.active:hover {
    color: #666;
    opacity: 0.5;
}

.info-window #tbl_aquatic_site-content {
    margin-top: 25px;
}

div.tooltip div.tooltip_content {
    padding: 20px;
    margin-top: 10px;
}

body.sessions {
    background-color: #a5c9ff;
    color: #222;
    font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    margin: 0 auto;
    text-align: center;
}
.sessions #container {
    margin: 70px auto 20px;
    width: 650px;
}
.sessions #dialog {
    background-color: #fff;
    border: 10px solid #001E20;
    padding: 15px 20px 10px;
    text-align: left;
}
.sessions #dialog h1 {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
}

.sessions #user_agency_id {
    width: 345px;
}

#login input#username {
    width: 300px;
}
#login #register {
    margin-top: 50px;
}

#login dl {
    margin-top: 10px;
}
#login dt {
    float: left;
    font-size: 14px;
    line-height: 24px;
    width: 80px;
}
#login dd {
    color: #666;
    font-size: 11px;
    line-height: 24px;
    margin: 0 0 5px 80px;
}
#login input {
    font-size: 14px;
    padding: 3px;
}
#account-recovery input#email {
    width: 400px;
    display: block;
    margin: 10px 0 20px;
}
#errorExplanation h2 { 
    color: black; 
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
#errorExplanation p { 
    color: black;
}
#errorExplanation ul li {
    list-style-type: disc;
    margin: 3px 0 2px 20px;
}

#dialog .error {
    background-color: #ffffe0;
    border: 1px solid orange;
    color: red;
    font-size: 12px;
    margin-bottom: 20px;
    padding: 10px;
}
#dialog .notice,
#edit-user .notice {
    background-color: #e0ecff;
    border: 1px solid #a5c9ff;
    color: #135;
    font-size: 12px;
    margin-bottom: 20px;
    padding: 10px;
}

/** AUTO-COMPLETE **/
.auto_complete .waterbody div {
    font-weight: bold;
    font-size: 10px;
}
.auto_complete .waterbody span {
    font-weight: normal;
}
.auto_complete .waterbody .name {
    font-weight: bold;
    font-size: 12px;
}
.auto_complete li.odd {
    background-color: #fff;
}
.auto_complete li.even {
    background-color: #e6f2ff;
}

.active-scaffold-header div.actions a.download {
    background-position:1px 50%;
    background-repeat:no-repeat;
    padding-left:19px;
    background-image: url(../images/active_scaffold/default/export.png);
}

#gmap-control-explore-legend {
    border: 1px solid black;
    background-color: #fff;
    color: #000;
    padding: 5px;
}
#gmap-control-explore-legend h3 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 5px;
}
#gmap-control-explore-legend img {
    float: left;
    width: 10px;
    height: 17px;
    padding: 0 3px 3px 0;
    margin-top: -2px;
}
#gmap-control-explore-legend div {
    clear: left;
    font-size: 11px;
    padding: 3px;
}