<div id="edit-user" class="active-scaffold">
  <% if flash[:error] %>
    <div class="error">     
      <%= error_messages_for :user %>
    </div>
  <% end %>
  
  <% if flash[:notice] %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
  
  <% form_for current_user do |f| %>
    <%= render :partial => 'form', :locals => { :form => f, :action => :edit } %>
  <% end %>
</div>