<dl>
  <dt>
    <label for="<%= "record_#{column.name}" %>"><%= column.label %></label>
  </dt>
  <dd>
    <select name="record[aquatic_activity_method_code]">
      <option>--- TODO: INSERT VALUES ---</option>
    </select>
  </dd>
</dl>