<dl>
  <dt>
    <label for="<%= "record_#{column.name}" %>"><%= column.label %></label>
  </dt>
  <dd>
    <select name="record[<%= column.name %>]">
      <% @aquatic_activity_method_codes.each do |method_code| %>
        <option value="<%=h method_code.id %>"><%=h method_code.name %> </option>
      <% end %>
    </select>
  </dd>
</dl>