<div class="site-activity-usages" style="margin-top: 1em;">
  <div id="tbl_aquatic_activity-messages"></div>
  <%= render :active_scaffold => 'tbl_aquatic_activity', :label => @label,
    :conditions => @conditions %>
</div>