<ul class="waterbodies" style="overflow: auto; height: 300px;">
<% for waterbody in @waterbodies do -%>
  <li class="waterbody">
    <div><span class="name"><%=h waterbody.water_body_name.to_s.empty? ? 'Unnamed Waterbody' : waterbody.water_body_name %></span></div>
    <div>ID: <span class="id"><%=h waterbody.id -%></span></div>
    <div>Drainage Code: <span class="drainage-code"><%=h waterbody.drainage_cd -%></span></div>
  </li>
<% end -%>
</ul>