<div class="aquatic-site-info-window">
  <h3><%= aquatic_site.aquatic_site_name %> </h3>
  <p><%= aquatic_site.aquatic_site_desc %></p>
  <p>Waterbody: <%= aquatic_site.waterbody ? aquatic_site.waterbody.water_body_name : '-' %> (ID: <%= aquatic_site.waterbody ? aquatic_site.waterbody.id : '-' %>)</p>
  <p>Drainage Code: <%= aquatic_site.waterbody ? aquatic_site.waterbody.drainage_cd : '-' %></p>
</div>
