<div class="aquatic-site-info-window">
  <h3><%= result['aquatic_site_name'] %> </h3>
  <p><%= result['aquatic_site_desc'] %></p>
  <p>Waterbody: <%= result['waterbody_name'] %></p>
  <p>Waterbody ID: <%= result['waterbody_id'] %></p>
  <p>Drainage Code: <%= result['drainage_code'] %></p>
  <p><%= result['aquatic_activity_event_count'] %> water chemistry sampling events located</p>
</div>
