<% if active_scaffold_config.action_links.any? { |link| link.type == :table } -%>
  <div class="actions">
    <% new_params = params_for(:action => :table) %>
    <% active_scaffold_config.action_links.each :table do |link| -%>
      <% next if controller.respond_to? link.security_method and !controller.send(link.security_method) -%>
      <%= render_action_link(link, new_params) -%>
    <% end -%>

    <a id="download-report" href="<%= url_for :controller => 'data_collection_sites', :action => 'report', :format => 'csv' %>" class="download" title="<%= :download_report_link_title.l -%>"><%= :download_report_link.l -%></a>
    <%= area_of_interest_toggle_link %>
  
    <%= loading_indicator_tag(:action => :table) %>
  </div>
<% end %>
<h2><%= active_scaffold_config.list.user.label %></h2>