<%= render :super %>

<% if request.xhr? %>
  <script type="text/javascript">
      var elm = $('<%= area_of_interest_toggle_link_id %>');
      if(elm) {
          Element.replace(elm, <%= area_of_interest_toggle_link.to_json %>);    
      }
  </script>
<% end %>