<div id="coordinate-preview" style="float: left; margin-left: 3em;">
  <div id="preview-container" style="width: 350px; height: 200px; border: 1px solid black; position: absolute; margin-top: -85px; margin-left: 85px">
    <div id="preview-map" style="position: relative; width: 350px; height: 200px;">
      
    </div>
    <div id="preview-msg" style="position: relative; width: 350px; height: 200px; background-color: #ccc; opacity: 0.9; top: -200px">
      <div id="preview-msg-body" style="padding: 10px; padding-top: 50px; opacity: 1.0; color: #000; text-align: center">A site marker will appear when a valid coordinate pair is entered.</div>
    </div>
  </div>

  <input id="record_gmap_x" type="hidden" name="record[gmap_x]" value="" />
  <input id="record_gmap_y" type="hidden" name="record[gmap_y]" value="" />

  <script type="text/javascript">
    create_preview_map();
    $('record_coordinate_system').observe('change', update_preview_marker);
    $('record_x_coordinate').observe('keyup', update_preview_marker);
    $('record_y_coordinate').observe('keyup', update_preview_marker);
  </script>
</div>