<p class="first">Enter a water body name, site name, watershed code, agency code and/or data
  set as search criteria.  The system will search for partial text strings. For
  example, “Miramichi” returns SW Miramichi River, NW Miramichi River, Miramichi
Lake, etc.</p>

<p>Add “watershed” or “basin” after a water body name to search for sites within
  the drainage area. For example: entering “Hammond River” will show a list of
  sites for only Hammond River. Enter “Hammond River Watershed” and the resulting
list will include sites for Hammond River and all its tributaries.</p>

<p>Use “+” to search on multiple items, such as water body + agency code + data
set name. For example, Hammond River + HRAA + water chemistry.</p>

<p>The <strong>Reset</strong> option will return the full list of data collection
sites.</p>