<%
options = { :value => @record.x_coordinate }
options = active_scaffold_input_text_options
options[:disabled] = true unless @record.coordinate_source
%>

<dl>
  <dt>
    <label for="<%= "record_#{column.name}" %>"><%= column.label %></label>
  </dt>
  <dd>
    <%= input :record, column.name, options %>
  </dd>
</dl>  
