<% if @messages %>
  <% @messages.each do |msg| %>
    <p class="message"><%= msg %></p>
  <% end %>
<% end %>

<% if @map %>
  <%= @map.div(:height => 250, :width => 250) %>  
  <%= @map.to_html(:no_load => true) %>
<% end %>