<% unless @unattached_data_sets.empty? %>
  <form id="select-data-set-form" name="select-data-set-form" method="POST">
    <input type="hidden" name="aquatic_site[id]" value="<%= params[:id] %>" />
    <%= unattached_data_sets_select(@unattached_data_sets) %>
    <br/>
    <a class="lightwindow_action" style="line-height: 100%; text-decoration: none" rel="submitForm" params="lightwindow_form=select-data-set-form" 
       href="<%= url_for(:controller => 'data_collection_sites', :action => 'add_data_set') %>">
      <button>Add Data Set</button>
    </a>
    or
    <a class="lightwindow_action" rel="deactivate" style="color: blue; text-decoration: none" href="#">Cancel</a>
  </form>
<% else %>
  <p>Sorry, no data sets available to add.</p>
<% end %>