<tr class="inline-adapter">
  <td colspan="99" class="inline-adapter-cell">
    <div class="<%= "#{params[:action]}-view" if params[:action] %> view">
      <a href="" class="inline-adapter-close" title="close"><%= as_('Close') %></a>
      <p>List of active agency site usages</p>
      <p>List of other agencies</p>
    </div>
  </td>
</tr>