<%  
render_tabnav :main, :html => { :class => 'tabs', :id => 'main-tabs' } do        
  add_tab do |t|
    t.named 'Browse'
    t.titled 'Browse'
    t.links_to :controller => 'data_entry', :action => 'browse'
    t.html[:class] = 'tab browse-tab'
  end 
  
  add_tab do |t|
    t.named 'Explore'
    t.titled 'Explore'
    t.links_to :controller => 'data_entry', :action => 'explore'    
    t.html[:class] = 'tab explore-tab'
  end 
  
  add_tab do |t|
    t.named 'Help'
    t.titled 'Help'
    t.links_to :controller => 'data_entry', :action => 'help'
    t.html[:class] = 'tab option help-tab'
  end 
end 
%>