<% @observations << @record.observation if @record.observation %>

<% if controller.action_name == 'edit' %>
  <input type="hidden" name="record[<%= column.name %>]" value="<%= @record.observation.id %>" />
<% else %>
<dl class="override">
  <dt>
    <label for="record[<%= column.name %>]"><%= column.label %></label>
  </dt>
  <dd>
    <select id="selected_observation" name="record[<%= column.name %>]">
      <option></option>
      <% group(@observations).each do |group| %>
        <%= option_group_for_observations(group, @observations) %>        
      <% end %>
    </select>    
  </dd>
</dl>
<% end %>

<%= observe_field(:selected_observation, :on => :change, :with => "observation_id", :url => { :action => :on_observation_change }) %>     

<div id="value_observed" style="display: <%= @record.observation ? 'block' : 'none' %>; clear: both; padding-top: 4px;" >
  <dl class="override">
    <dt>
      <label for="record[value_observed]">Observed Value</label>
    </dt>
    <dd id="value_observed_input">
      <%= value_observed_input(@record) %>
    </dd>
  </dl>
</div>

<div id="fish_passage_blocked" style="display: <%= @record.observation && @record.observation.fish_passage_ind ? 'block' : 'none' %>; clear: both; padding-top: 6px">
  <dl class="override">
    <dt></dt>
    <dd><input name="record[fish_passage_blocked]" type="checkbox"/><span>Fish Passage Blocked?</span></dd>
  </dl>
</div>