<dl>
  <dt>
    <label for="<%= "record_#{column.name}" %>"><%= column.label %></label>
  </dt>
  <dd>
    <select name="record[<%= column.name %>]">
      <% @aquatic_activity_methods.each do |method| %>
        <option value="<%=h method.id %>"><%=h method.name %> </option>
      <% end %>
    </select>
  </dd>
</dl>