<%= render :super  %>

<% if request.xhr? %>
<script type="text/javascript">
  <% if @aquatic_site_usage %>
    Element.show('<%= action_link_id(:edit_agency_site_id, nil) %>');
  <% else %>
    Element.hide('<%= action_link_id(:edit_agency_site_id, nil) %>');
  <% end %>
</script>
<% end %>