<%= render :super  %>

<% if request.xhr? %>
<script type="text/javascript">
  <% if @aquatic_site_usage %>
    Element.show('<%= edit_agency_site_id_action_link_id %>');
  <% else %>
    Element.hide('<%= edit_agency_site_id_action_link_id %>');
  <% end %>
</script>
<% end %>