<dl>
  <dt>
    <label for="<%= "record_#{column.name}" %>"><%= column.label %></label>
  </dt>
  <dd>
    <select name="record[<%= column.name %>]">           
      <option></option>
      <% AquaticActivityEvent.rainfall_last24_options.each do |value| %>
        <option><%=h value %> </option>
      <% end %>
    </select>
  </dd>
</dl>