<dl>
  <dt>
    <label for="<%= "record_#{column.name}" %>"><%= column.label %></label>
  </dt>
  <dd>
    <select name="record[<%= column.name %>]">
      <option value="17">Water Chemistry Sampling</option>
    </select>
  </dd>
</dl>