
<%= render :partial => 'show_columns', :locals => {:columns => active_scaffold_config.show.columns} -%>

<p class="form-footer">
  <a href="#" class="cancel"><%= :show_aquatic_activity_edit_label.l -%></a>
</p>