<div class="qualifier-legend">
  <table>
    <thead>
      <tr>
        <th class="code"><%= :qualifier_legend_qualifier_label.l %></th>
        <th class="description"><%= :qualifier_legend_description_label.l %></th>
      </tr>
    </thead>
    <tbody>
      <% data.qualifiers.each do |qualifier| %>
        <tr class="qualifier">
          <td class="code">
            <%= qualifier.id %>
          </td>
          <td class="description">
            <%= qualifier.name %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>