<dl>
  <dt>
    <label for="<%= "record_#{column.name}" %>"><%= column.label %></label>
  </dt>
  <dd>
    <div style="padding: 6px 0"><%= current_user.agency ? "#{current_user.agency.name} (#{current_user.agency.code})" : 'No Agency' %></div>
  </dd>
</dl>
