<div class="aquatic-site-info-window">
  <h3><%= aquatic_site.name %> </h3>
  <p><%= aquatic_site.description %></p>
  <p>Waterbody: <%= aquatic_site.waterbody.name %> (ID: <%= aquatic_site.waterbody.id %>)</p>
  <p>Drainage Code: <%= aquatic_site.waterbody.drainage_code %></p>
</div>
