<% help_section 'Profile' do %>
  <p>Enter or edit your user account information.</p>

  <% help_section 'Set Area of Interest' do %>
    <p>The area of interest filters the list of data collection sites. If area of
    interest is not defined, the entire lit of sites (> 4000 sites) will be
    presented in the data collection list.</p>

    <p>The area of interest is defined by the provincial watershed codes.</p>

    <p>Enter a portion of a water body name or watershed code in the Lookup field.
    The system will search for partial text strings and return a list of results.
    For example, &ldquo;Miramichi&rdquo; returns SW Miramichi River, NW Miramichi River, Miramichi
    Lake, etc. Selecting from the list sets the area of interest to the watershed
    code of the selected item.</p>
  <% end %>
<% end %>