<% help_section 'Profil' do %>
  <p>Entrer ou corriger l'information de votre compte d'utilisateur.</p>

  <% help_section "Configurer domaine d'intérêt" do %>
    <p>Le domaine d'intérêt filtre la liste des sites de collecte de données. Si
      le domaine d'intérêt n'est pas défini, toute la liste des sites (> 4000 sites)
      sera présentée dans la liste des sites de collecte de données. </p>

    <p>Le domaine d'intérêt est défini par les codes provinciaux des bassins hydrographiques.</p>

    <p>Entrer une partie du nom d'un cours d'eau ou du code d'un bassin hydrographique
      dans le champ de recherche. Le système cherchera des chaînes de texte partielles
      et générera une liste des résultats. Par exemple, «Miramichi» génère rivière
      Miramichi S‑O, rivière Miramichi N‑O, lac Miramichi, etc. Si l'on choisit à partir
      de la liste, le domaine d'intérêt est configuré pour le code du bassin hydrographique
      de l'item choisi.</p>
  <% end %>
<% end %>