#content .x-panel, 
#content .x-panel-body { 
    border: none; 
}
#reports-ct h2 {
    border-bottom: 2px solid #99bbe8;
    cursor: pointer;
    padding-top: 6px;
}
#reports-ct h2 div {
    background: transparent url(/javascripts/ext-2.1/resources/images/default/grid/group-expand-sprite.gif) no-repeat scroll 3px -47px;
    color: 3764a0;
    font-family: tahoma, arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 4px 4px 17px;
}
#reports-ct .collapsed h2 div {
    background-position: 3px 3px;
}
#reports-ct .collapsed dl {
    display: none;
}
#reports-ct dd {
    cursor: pointer;
    float: left;
    height: 100px;
    width: 300px;
    padding: 5px 5px 5px 10px;
}
#reports-ct dd.over {
    background-color: #ffffe0;
}
#reports-ct dd h4 {
    color: #555;
    font-family: tahoma, arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}
#reports-ct dd p {
    color: #777;
    font-family: tahoma, arial, helvetica, sans-serif;
    font-size: 11px;
}