<h1 class="page title">Recent Activities:</h1>
<ul id="activities">
  <% @activities.each do |activity| %>
    <li class="activity">
      <p class="date"><%= activity.updated_at.to_s(:short) %></p>  
        <img class="map" alt="MAP" />
        <h3 class="title">
          <% #= url_for([agency, activity])%>
          <a href="/demo/application/activity"><%= activity.title %></a>
        </h3>
        <div class="description">
          <p><%= activity.desc %></p>
        </div>
        <p class="author">Author: <%= activity.author %></p>
        <div style="clear: both"></div>
    </li>
  <% end %>
</ul>

