<p>Enter a water body name or watershed code as search criteria.  The system
will search for partial text strings. For example, “Miramichi” returns SW
Miramichi River, NW Miramichi River, Miramichi Lake, etc.</p>