<div id="header">
  <%= render :partial => 'layouts/session' %>
    
  <div id="application">
    <h1 class="name">
      <a href="<%= root_url %>">
        NB Aquatic Data Warehouse<br/>
        Data Management Application
      </a>
    </h1>
  </div> 
</div>