<div id="session">
  <p class="user">Logged in as <span class="name"><%= current_user.name || current_user.login %></span></p> 
  <div class="actions">
    <% if current_user.admin? %>
        <%= link_to 'Edit Code Tables', admin_home_path %>
        <span class="pipe">|</span>
    <% end %>
    <%= link_to 'Profile', edit_user_path(current_user) %>
    <span class="pipe">|</span>
    <%= link_to 'Logout', logout_path %>
  </div>
</div>