<div id="session">
  <p class="user">Logged in as <span class="name"><%= current_user.name || current_user.login %></span></p> 
  <div class="actions">
    <%= link_to 'Profile', edit_user_path(current_user) %>
    <span class="pipe">|</span>
    <%= link_to 'Logout', logout_path %>
  </div>
</div>