<div class="site-activity-usages" style="margin-top: 1em;">
<%= render :active_scaffold => 'aquatic_site_usages', :label => @label,
  :conditions => ['aquatic_site_id = ? AND aquatic_activity_code = ?', 
  @aquatic_site_id, @activity_id ] %>
</div>